.technologies span{
        background: #4b5867;
        margin-right: 5px;
        margin-top: 5px;
        border-radius: 3px;
        padding: 3px 10px;
        font-size: 13px;
        height: 26px;
    }

    /* .details-btn{
        background: #4b5867;
        margin-right: 5px;
        margin-top: 5px;
        border-radius: 2px;
        padding: 3px 10px;
        font-size: 13px;
        height: 26px;
    } */